.border {
  border: dashed 1px #eee;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  min-width: 380px;
  min-height: 500px;
  font-family: "Comfortaa", cursive;
  background-color: #555;
  color: #eee;
  cursor: default;
}

.content {
  height: 90vh;
}

.footer {
  height: 60px;
  padding: 20px 0;
  font-family: "Open Sans", sans-serif;
  color: #eee;
}
.footer .link {
  color: #eee;
  margin-left: 4px;
  z-index: 50;
  font-size: 0.9em;
  vertical-align: middle;
}

.title-container {
  margin: 30px auto 100px;
}
.title-container .title {
  font-size: 4em;
  font-weight: bold;
}

.settings {
  margin-bottom: 30px;
}
.settings #red-break-time, .settings #inc-break-time, .settings #red-sess-time, .settings #inc-sess-time {
  cursor: pointer;
}
.settings #break-time, .settings #session-time {
  font-family: "Inconsolata", monospace;
  margin-left: 10px;
  margin-right: 10px;
}

.clock {
  width: 284px;
  height: 284px;
  border-radius: 50%;
  background-color: #d83c5b;
  image-rendering: crisp-edges;
  font-family: "Inconsolata", monospace;
  font-size: 1.5em;
}

.clock .overlay {
  position: absolute;
  width: 252px;
  height: 252px;
  margin-top: 15px;
  margin-left: 15px;
  padding-top: 75px;
  border-radius: 50%;
  background-color: #555;
  border: solid 2px #d83c5b;
  cursor: pointer;
}
.clock .overlay:hover {
  background-color: #666;
}
.clock .overlay .time {
  font-size: 3.5em;
}

.break {
  color: #73B1C3;
}

.status {
  margin-top: 10px;
}

.flash {
  background-color: #d83c5b;
  transition: background-color 0.1s;
}

body {
  transition: background-color 0.1s;
}

/* -------------------------------------
 * Mixin for progress-% class
 * ------------------------------------- */
.progress-0 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(90deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-1 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(93.6deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-2 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(97.2deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-3 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(100.8deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-4 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(104.4deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-5 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(108deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-6 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(111.6deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-7 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(115.2deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-8 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(118.8deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-9 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(122.4deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-10 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(126deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-11 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(129.6deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-12 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(133.2deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-13 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(136.8deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-14 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(140.4deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-15 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(144deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-16 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(147.6deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-17 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(151.2deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-18 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(154.8deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-19 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(158.4deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-20 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(162deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-21 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(165.6deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-22 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(169.2deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-23 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(172.8deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-24 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(176.4deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-25 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(180deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-26 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(183.6deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-27 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(187.2deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-28 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(190.8deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-29 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(194.4deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-30 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(198deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-31 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(201.6deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-32 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(205.2deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-33 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(208.8deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-34 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(212.4deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-35 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(216deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-36 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(219.6deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-37 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(223.2deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-38 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(226.8deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-39 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(230.4deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-40 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(234deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-41 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(237.6deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-42 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(241.2deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-43 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(244.8deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-44 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(248.4deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-45 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(252deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-46 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(255.6deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-47 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(259.2deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-48 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(262.8deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-49 {
  background-image: linear-gradient(90deg, #555555 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(266.4deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-50 {
  background-image: linear-gradient(-90deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-51 {
  background-image: linear-gradient(-86.4deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-52 {
  background-image: linear-gradient(-82.8deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-53 {
  background-image: linear-gradient(-79.2deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-54 {
  background-image: linear-gradient(-75.6deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-55 {
  background-image: linear-gradient(-72deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-56 {
  background-image: linear-gradient(-68.4deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-57 {
  background-image: linear-gradient(-64.8deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-58 {
  background-image: linear-gradient(-61.2deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-59 {
  background-image: linear-gradient(-57.6deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-60 {
  background-image: linear-gradient(-54deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-61 {
  background-image: linear-gradient(-50.4deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-62 {
  background-image: linear-gradient(-46.8deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-63 {
  background-image: linear-gradient(-43.2deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-64 {
  background-image: linear-gradient(-39.6deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-65 {
  background-image: linear-gradient(-36deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-66 {
  background-image: linear-gradient(-32.4deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-67 {
  background-image: linear-gradient(-28.8deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-68 {
  background-image: linear-gradient(-25.2deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-69 {
  background-image: linear-gradient(-21.6deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-70 {
  background-image: linear-gradient(-18deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-71 {
  background-image: linear-gradient(-14.4deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-72 {
  background-image: linear-gradient(-10.8deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-73 {
  background-image: linear-gradient(-7.2deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-74 {
  background-image: linear-gradient(-3.6deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-75 {
  background-image: linear-gradient(0deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-76 {
  background-image: linear-gradient(3.6deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-77 {
  background-image: linear-gradient(7.2deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-78 {
  background-image: linear-gradient(10.8deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-79 {
  background-image: linear-gradient(14.4deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-80 {
  background-image: linear-gradient(18deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-81 {
  background-image: linear-gradient(21.6deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-82 {
  background-image: linear-gradient(25.2deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-83 {
  background-image: linear-gradient(28.8deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-84 {
  background-image: linear-gradient(32.4deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-85 {
  background-image: linear-gradient(36deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-86 {
  background-image: linear-gradient(39.6deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-87 {
  background-image: linear-gradient(43.2deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-88 {
  background-image: linear-gradient(46.8deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-89 {
  background-image: linear-gradient(50.4deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-90 {
  background-image: linear-gradient(54deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-91 {
  background-image: linear-gradient(57.6deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-92 {
  background-image: linear-gradient(61.2deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-93 {
  background-image: linear-gradient(64.8deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-94 {
  background-image: linear-gradient(68.4deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-95 {
  background-image: linear-gradient(72deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-96 {
  background-image: linear-gradient(75.6deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-97 {
  background-image: linear-gradient(79.2deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-98 {
  background-image: linear-gradient(82.8deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-99 {
  background-image: linear-gradient(86.4deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}

.progress-100 {
  background-image: linear-gradient(90deg, #d83c5b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d83c5b 50%, #555555 50%, #555555);
}
